<!-- Home Page -->
<div class="row">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-success" role="button" ng-click="getAllAccountDetails()">Get Accounts</button>
        </div>        
    </div>
    <div class="row col-md-8">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Acc Address</th>
                <th>Balance (ETH)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in accountDetails">
                <td>{{acc.address}}</td>
                <td>{{acc.balance}} ETH</td>
            </tr>
        </tbody>
    </table>    
    </div>
</div>
